
@model IEnumerable<WebApplication1.Dto.UniversalOrderGetDto>


<h1>All transactions </h1>

<table border="1">
    <thead>
    <tr>
        <th>Sender</th>
        <th>Sender Address</th>
        <th>Sender IBAN</th>
        <th>Sender Call</th>
        <th>Sender Model</th>
        <th>Receiver</th>
        <th>Receiver Address</th>
        <th>Receiver IBAN</th>
        <th>Receiver Call</th>
        <th>Receiver Model</th>
        <th>Urgent</th>
        <th>Currency</th>
        <th>Amount</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.SenderName) @Html.DisplayFor(modelItem => item.SenderSurname)</td>
                <td>@Html.DisplayFor(modelItem => item.SenderAddress)</td>
                <td>@Html.DisplayFor(modelItem => item.SenderIban)</td>
                <td>@Html.DisplayFor(modelItem => item.SenderCall)</td>
                <td>@Html.DisplayFor(modelItem => item.SenderModel)</td>
                <td>@Html.DisplayFor(modelItem => item.ReceiverName) @Html.DisplayFor(modelItem => item.ReceiverSurname)</td>
                <td>@Html.DisplayFor(modelItem => item.ReceiverAddress)</td>
                <td>@Html.DisplayFor(modelItem => item.ReceiverIban)</td>
                <td>@Html.DisplayFor(modelItem => item.ReceiverCall)</td>
                <td>@Html.DisplayFor(modelItem => item.ReceiverModel)</td>
                <td>@Html.DisplayFor(modelItem => item.Urgent)</td>
                <td>@Html.DisplayFor(modelItem => item.Currency)</td>
                <td>@Html.DisplayFor(modelItem => item.Amount)</td>
            </tr>
        }
    </tr>
    </tbody>
</table>



