@using System.Reflection
@using WebApplication1.Models
@model IEnumerable<WebApplication1.Models.UniversalOrder>

<h1>All transactions </h1>

<table border="1">
    <thead>
    <tr>
        <th></th>
        <th>Name</th>
        <th>Surname</th>
        <th>Address</th>
        <th>IBAN</th>
        <th>Call</th>
        <th>Model</th>
        <th>Urgent</th>
        <th>Currency</th>
        <th>Amount</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>Sender</td>
                <td>@Html.DisplayFor(modelItem => item.SenderName)</td>
                <td>@Html.DisplayFor(modelItem => item.SenderSurname)</td>
                <td>@Html.DisplayFor(modelItem => item.SenderAddress)</td>
                <td>@Html.DisplayFor(modelItem => item.SenderIban)</td>
                <td>@Html.DisplayFor(modelItem => item.SenderCall)</td>
                <td>@Html.DisplayFor(modelItem => item.SenderModel)</td>
                <td>@Html.DisplayFor(modelItem => item.Urgent)</td>
                <td>@Html.DisplayFor(modelItem => item.Currency.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Amount)</td>
            </tr>
            <tr>
                <td>Reciever</td>
                <td>@Html.DisplayFor(modelItem => item.ReceiverName)</td>
                <td>@Html.DisplayFor(modelItem => item.ReceiverSurname)</td>
                <td>@Html.DisplayFor(modelItem => item.ReceiverAddress)</td>
                <td>@Html.DisplayFor(modelItem => item.ReceiverIban)</td>
                <td>@Html.DisplayFor(modelItem => item.ReceiverCall)</td>
                <td>@Html.DisplayFor(modelItem => item.ReceiverModel)</td>
                <td>@Html.DisplayFor(modelItem => item.Urgent)</td>
                <td>@Html.DisplayFor(modelItem => item.Currency.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Amount)</td>
            </tr>
        }
    </tr>
    </tbody>
</table>



